on:
  push:
    tags:
      - 'v*'

name: release.yaml

permissions: read-all

jobs:
  R-CMD-check:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
      R_KEEP_PKG_SOURCE: yes

    steps:
      - uses: actions/checkout@v4

      - uses: r-lib/actions/setup-pandoc@v2

      - uses: r-lib/actions/setup-r@v2
        with:
          use-public-rspm: true

      - uses: r-lib/actions/setup-r-dependencies@v2
        with:
          extra-packages: any::rcmdcheck
          needs: check

      - uses: r-lib/actions/check-r-package@v2
        with:
          build_args: 'c("--no-manual","--compact-vignettes=gs+qpdf")'

      - name: Build source package
        if: success()
        run: |
          pkg_path <- pkgbuild::build(".", dest_path = ".", vignettes = TRUE)
          cat("pkg_path=", pkg_path, "\n", file = Sys.getenv("GITHUB_OUTPUT"), append = TRUE, sep = "")
        shell: Rscript {0}
        id: build

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          files: ${{ steps.build.outputs.pkg_path }}
          generate_release_notes: true
